h1  {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(220, 223, 228);
  text-align: center;
  background-color: rgb(39, 39, 39);
}

h2 {
  background-color: rgb(167, 169, 172);
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
}

p {
  color: rgb(220, 223, 228);
  background-color: rgb(39, 39, 39);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 20px;
}



