h1  {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(24, 63, 50);
  text-align: center;
}

h2 {
  
  background-color: rgb(40, 94, 87);
  color: rgb(24, 30, 104);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  
}

